@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* line 59, bcr/static/xcss/test.scss */
body,
html {
  height: 100%; }

/* line 64, bcr/static/xcss/test.scss */
body {
  font-family: "Lato", sans-serif;
  color: #333333;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; }

/* line 73, bcr/static/xcss/test.scss */
.container {
  width: auto;
  margin: auto; }

/* line 78, bcr/static/xcss/test.scss */
a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700; }

/* line 14, bcr/static/xcss/test.scss */
.btn {
  position: relative;
  letter-spacing: 0.25em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;
  color: #333333; }
  /* line 23, bcr/static/xcss/test.scss */
  .btn::after, .btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    transform: skewX(30deg);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2; }
  /* line 33, bcr/static/xcss/test.scss */
  .btn::before {
    background-color: #ffff00;
    top: -1rem;
    left: -1rem; }
  /* line 38, bcr/static/xcss/test.scss */
  .btn::after {
    background-color: #8a19ff;
    top: 1rem;
    left: 8rem; }
  /* line 44, bcr/static/xcss/test.scss */
  .btn:hover::before, .btn:hover::after {
    top: 0;
    transform: skewx(0deg); }
  /* line 49, bcr/static/xcss/test.scss */
  .btn:hover::after {
    left: 0rem; }
  /* line 52, bcr/static/xcss/test.scss */
  .btn:hover::before {
    left: 8.75rem; }
