{% extends 'base.html'%}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/welcome.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
{% endblock styles %}

{% block content %}

<body>
        <main>
                <section id="background">
                        <h2>
                                <strong> You need to hire quality talent</strong>
                        </h2>
                </section>
                <h1>Welcome page for organizations</h1>
                <div class="intro">
                        <div class="welcome_intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                                fugit illo odio beatae commodi. Fuga facilis praesentium laboriosam dignissimos,
                                consequuntur ea enim quia nihil nam voluptatem officiis mollitia quos incidunt!
                                Cumque fugit laborum, nostrum ipsam iure enim temporibus porro tempore id officia
                                dignissimos quibusdam. Inventore officiis id blanditiis explicabo facilis maxime, dolor
                                cupiditate mollitia quae expedita dolorum asperiores recusandae animi.
                                Quae debitis cum odit odio atque voluptas et quos soluta obcaecati hic, autem eos
                                voluptates reiciendis nobis nihil earum praesentium incidunt ad explicabo sequi
                                corrupti! Quaerat vel dolore reprehenderit officia.
                                Esse incidunt non quidem nostrum consectetur molestiae modi magnam alias explicabo
                                recusandae vero voluptas, perferendis ea consequuntur debitis sequi iure aliquid. Nemo,
                                molestias at magni laudantium distinctio molestiae alias tempora?
                                Sed inventore ab autem quidem hic aliquid, enim alias aliquam similique officia vero est
                                assumenda amet, consequatur reiciendis! Quasi, ullam in accusantium omnis necessitatibus
                        </div>
                        <br>
                        <br>

                        <div class="btcontainer">
                                <div class="center">
                                        <div id="btwrapper">
                                                <button id="wel_bt">Learn more</button>
                                        </div>
                                </div>
                        </div>
                </div>

                <div class="panel">
                        <div>
                                <form name="organizationwelcome" method="post" action="{% url 'createJobListing' %}">
                                        {% csrf_token %}
                                        <h3>Create a job listing</h3>
                                        <hr>
                                        <br>
                                        <input type="hidden" name='orgID' id='orgID' value="{% for x in orgInfo %}
                                                {{x.organization_id}}
                                                {% endfor%}QqQ
                                                ">
                                        <label for='status'>Job status:</label>
                                        <input type="text" name='status' id='status' required>
                                        <br><br>
                                        <label for='city'>City:</label>
                                        <input type="text" name='city' id='city' required>
                                        <br><br>
                                        <label for='job_title'>Job Title</label>
                                        <input type="text" name='job_title' id='job_title' required>
                                        <br><br>
                                        <label for='compensation'>Compensation: (Optional)</label>
                                        <input type="number" step="0.01" min="0" name='compensation' id='compensation'>
                                        <br><br>
                                        <label for='contracts'>Contract type:</label>
                                        <select name="contracts" id="contracts">
                                                <option value="default" disabled selected>Select one</option>
                                                <option value="3 month">3 month</option>
                                                <option value="6 month">6 month</option>
                                                <option value="1 year">1 year</option>
                                                <option value="Part-Time">Part-Time</option>
                                                <option value="Full-Time">Full-Time</option>
                                        </select>
                                        <br><br>

                                        <div>
                                                <span>Relocation: Y/N</span>
                                        </div>

                                        <label for='relocation'>Yes</label>
                                        <input type="radio" name='relocation' id='relocation' value="True">
                                        <label for='relocation'>No</label>
                                        <input type="radio" name='relocation' id='relocation' value="False">
                                        <br><br>
                                        <div>
                                                <label for='description'>Job description:</label>
                                        </div>
                                        <textarea type="textarea" name='description' id='description' rows="15" ,
                                                cols="60"></textarea>
                                        <br><br>
                                        <button type="submit">Register</button>
                                </form>
                        </div>
                        <hr>
                        <div>
                                <p>Current job listing</p>
                                <div class="listing-item">
                                        {% for item in ListingInfo%}
                                        {{ item.status}}
                                        {{ item.city}}
                                        {{ item.job_title}}
                                        {{ item.contracts}}
                                        {{ item.relocation}}
                                        {{ item.compensation}}
                                        {{ item.description}}
                                        {{ item.organization_id}}
                                        {% endfor %}
                                </div>
                        </div>
                </div>

                <div class="panel">
                        <div class="type-select">
                                <img src="https://images.unsplash.com/photo-1573164713619-24c711fe7878?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80"
                                        alt="applicant" class="cus-type-img">
                                <h2 class="cus-type-header">Mentor sign-up</h2>
                                <a href="#" class="signup-button">sign-up</a>
                        </div>
                        <hr>
                        <div class="type-select">
                                <img src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80"
                                        alt="applicant" class="cus-type-img">
                                <h2 class="cus-type-header">I am hiring</h2>
                                <a href="#" class="signup-button">sign-up</a>
                        </div>
                </div>
        </main>
</body>
{% endblock content %}