{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Organization Login</h1>

<form method="POST" action="{% url 'companyLogin' %}">
    <div>
        <div>
            <label for="company_email">Company Email:</label>
            <input type="text" name="company_email" id="company_email" required>
        </div>
        <div>
            <label for="company_password">Password</label>
            <input type="password" name="company_password" id="company_password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div>
            <button type="button" onclick="location.href='{% url 'organizationsignup' %}'">Sign up</button>
        </div>
    </div>
    {% csrf_token %}
</form>

{% endblock %}