{% extends 'base.html'%}
{% load static %}
{% block content %}

{% comment %} <link rel="stylesheet" href="{% static 'css/welcome.css' %}"> {% endcomment %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

<script>
        let btnCounter = 0

        const addAnotherSkill = () => {
                $(`#skillinputdiv${btnCounter + 1}`).removeClass('hidden');
                ++btnCounter;
                if (btnCounter === 0)
                        $('#btnRemoveSkill').hide()
                else
                        $('#btnRemoveSkill').show()

                if (btnCounter > 9)
                        btnCounter = 9;
        }
        const removeSkill = () => {
                $(`#skillinputdiv${btnCounter}`).addClass('hidden');
                --btnCounter;
                if (btnCounter === 0)
                        $('#btnRemoveSkill').hide()
                else
                        $('#btnRemoveSkill').show()

                if (btnCounter < 0)
                        btnCounter = 0;
        }

        const cancelListing = () => {
                $("form#createListingForm :input").each(function(){
                        var input = $(this); 
                        input.val('');
                });
                $('#createListingForm').css({'opacity':0});
                setTimeout(function() {
                        $('#createListing').hide();
                        $('#createListingForm').css({'opacity':1});
                }, 300);
        }

        const createListing = () => {
                $('#createListing').show();
        }
</script>

<style>
        .fade-in {
                animation: fadeIn ease 0.2s;
                -webkit-animation: fadeIn ease 0.2s;
                -moz-animation: fadeIn ease 0.2s;
                -o-animation: fadeIn ease 0.2s;
                -ms-animation: fadeIn ease 0.2s;
        }
        @keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
        }

        @-moz-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
        }

        @-webkit-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
        }

        @-o-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
        }

        @-ms-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
        }
        .fade-out {
                -webkit-transition: opacity 3s ease-in-out;
                -moz-transition: opacity 3s ease-in-out;
                -ms-transition: opacity 3s ease-in-out;
                -o-transition: opacity 3s ease-in-out;
                opacity: 1;
        }
        .container-main {
            margin-top: 120px;  
            width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
        .hidden {
                display: none;
        }
        #btnRemoveSkill {
                display: none;
        }
        body {
                color: white;
        }
        .overlay-form {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 10;
                display: none;
                transition: 0.4s;
                background-color: rgba(0, 0, 0, 0.6);
        }
        #createListingForm {
                margin-top:50px;
                width: 1400px;
                margin-left: auto;
                margin-right: auto;
                background-color: rgba(30, 30, 50, 0.8);
                padding: 30px;
                border-radius: 30px;
                transition: 0.4s;
        }
        label {
                display: inline-block;
                text-align: right;
                margin-right: 10px;
                width: 260px;
                color: rgba(240, 240, 240, 0.9);
                font-size: 24px;    
        }
        input, select {
                padding: 8px;
                border: solid 1px rgba(240, 240, 240, 0.9);
                border-radius: 30px;
                font-size: 18px;
                background-color: black;
                transition: 0.2s;
                color: rgba(240, 240, 240, 0.9);
                width: 300px;
        }
        input:hover, select:hover {
                box-shadow: 0 0 10px 1px rgba(135,206,250, 0.9);
                border: solid 1px rgba(135,206,250, 0.9);
        }
        textarea {
                background-color: rgba(0, 0, 0, 0.7);
                border: solid 1px rgba(240,240,240,0.9);
                border-radius: 30px;
                color: rgba(240,240,240,0.9);
                font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
                font-size: 15px;
                padding: 10px;
                transition: 0.2s;
        }
        textarea:hover {
                box-shadow: 0 0 10px 1px rgba(135,206,250, 0.9);
                border: solid 1px rgba(135,206,250, 0.9);
        }
        .inputdiv {
                margin: 10px;
        }
        .title {
                text-align: center;
                color: rgba(0, 0, 0, 0.9);
        }
        .title-light {
                text-align: center;
                color: rgba(240, 240, 240, 0.9);
        }
        #add_remove_skills {
                text-align: center;
                margin: 20px;
        }
        .link-btn {
                text-decoration: none;
                border: solid 1px rgba(240, 240, 240, 0.8);
                color: white;
                font-size: 18px;
                transition: 0.3s;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 8px;
                border-radius: 30px;
        }
        .link-btn:hover {
                color: rgba(135,206,250, 0.9);
                border: solid 1px rgba(135,206,250, 0.9);
        }
        .inputskill {
                margin: 5px;
        }
        #skills_options {
                height: 90%;
        }
        .job-listings {
                position: fixed;
                right: 10%;
                width: 250px;
        }
        .app-link {
                text-decoration: none;
                color: rgba(0,0,0,0.8);
                font-size: 40px;
        }
        .ind-app {
                margin-bottom: 30px;
                height: 100px;
                background-image: linear-gradient(180deg, rgba(240, 240, 240, 1), rgba(240, 240, 240, 0.7));
                padding: 20px;
        }
        .ind-app p {
                color: rgba(0,0,0,1);
        }
        .applicant_list p {
                margin: 10px;
        }
        .listing-item {
                margin-bottom: 30px;
                background-image: linear-gradient(180deg, rgba(240, 240, 240, 1), rgba(240, 240, 240, 0.7));
                padding: 20px;
        }
        .current_listings {
                overflow-y: scroll;
                height: 600px;
        }
        .listing-item p {
                color: rgba(0, 0, 0, 1);
        }
        #cancelbtn:hover {
                color: red;
                border: solid 1px red;
        }
        .mentor-edits {
                position: fixed;
                left: 10%;
                top: 150px;
        }
        .item {
                border-bottom: solid 1px rgba(0, 0, 0, 0.5);
        }


</style>
        <div class='overlay-form fade-in fade-out' id='createListing'>
                <form name="organizationwelcome" method="POST" action="{% url 'createJobListing' %}" id='createListingForm'>
                        <div style='display:flex;'>
                                <div>
                                        {% csrf_token %}
                                        <div class='title'>
                                                <h1>Create a job listing</h1>
                                        </div>
                                
                                        <input type="hidden" name='orgID' id='orgID' value="{% for x in orgInfo %}
                                                {{x.organization_id}} {% endfor%}">
                                        <div class='inputdiv'>
                                                <label for='status'>Job status:</label>
                                                <input type="text" name='status' id='status' required>
                                        </div>
                                        <div class='inputdiv'>
                                                <label for='city'>City:</label>
                                                <input type="text" name='city' id='city' required>
                                        </div>
                                        <div class='inputdiv'>
                                                <label for='job_title'>Job Title</label>
                                                <input type="text" name='job_title' id='job_title' required>
                                        </div>
                                        <div class='inputdiv'>
                                                <label for='compensation'>Compensation: (Optional)</label>
                                                <input type="number" step="0.01" min="0" name='compensation' id='compensation'>
                                        </div>
                                        <div class='inputdiv'>
                                                <label for='contracts'>Contract type:</label>
                                                <select name="contracts" id="contracts">
                                                        <option value="default" disabled selected>Select one</option>
                                                        <option value="3 month">3 month</option>
                                                        <option value="6 month">6 month</option>
                                                        <option value="1 year">1 year</option>
                                                        <option value="Part-Time">Part-Time</option>
                                                        <option value="Full-Time">Full-Time</option>
                                                </select>
                                        </div>
                                        <div>
                                                <label style='width:40px;vertical-align:middle;' for='relocation'>Yes</label>
                                                <input style='width:20px;vertical-align:middle;' type="radio" name='relocation' id='relocation' value="True">
                                                <label style='width:40px;vertical-align:middle;' for='relocation'>No</label>
                                                <input style='width:20px;vertical-align:middle;' type="radio" name='relocation' id='relocation' value="False">
                                        </div>
                                        <div>
                                                <label style='display:block;text-align:left;' for='description'>Job description:</label>
                                                <textarea type="textarea" name='description' id='description' rows="15" cols="60"></textarea>
                                        </div>
                                </div>
                                <div>
                                        <div id='skills_options'>
                                                <h1 class='title'>Add Skills for Listing</h1>
                                                {% for i in '0123456789'|make_list %}
                                                        {% if i != '0' %}
                                                        <div class='hidden inputskill fade-in' id='skillinputdiv{{i}}'>
                                                                <label style='width:150px;' for="skillname{{i}}">Skill Name: </label>
                                                                <input style='width:150px;' type="text" name="skillname{{i}}" id="skillname{{i}}">
                                                                <label style='width:150px;' for="skill_value{{i}}">Skill Value:</label>
                                                                <select style='width:230px;' name="skill_value{{i}}" id="skill_value{{i}}">
                                                                        <option value="default" disabled selected>Select Skill Value 1-10</option>
                                                                        <option value=1>1</option>
                                                                        <option value=2>2</option>
                                                                        <option value=3>3</option>
                                                                        <option value=4>4</option>
                                                                        <option value=5>5</option>
                                                                        <option value=6>6</option>
                                                                        <option value=7>7</option>
                                                                        <option value=8>8</option>
                                                                        <option value=9>9</option>
                                                                        <option value=10>10</option>
                                                                </select>
                                                        </div>
                                                        {% else %}
                                                        <div class='inputskill fade-in' id='skillinputdiv{{i}}'>
                                                                <label style='width:150px;' for=" skillname{{i}}">Skill Name: </label>
                                                                <input style='width:150px;' type="text" name="skillname{{i}}" id="skillname{{i}}">
                                                                <label style='width:150px;' for=" skill_value{{i}}">Skill Value:</label>
                                                                <select style='width:230px;' name="skill_value{{i}}" id="skill_value{{i}}">
                                                                        <option value="default" disabled selected>Select Skill Value 1-10</option>
                                                                        <option value=1>1</option>
                                                                        <option value=2>2</option>
                                                                        <option value=3>3</option>
                                                                        <option value=4>4</option>
                                                                        <option value=5>5</option>
                                                                        <option value=6>6</option>
                                                                        <option value=7>7</option>
                                                                        <option value=8>8</option>
                                                                        <option value=9>9</option>
                                                                        <option value=10>10</option>
                                                                </select>
                                                        </div>
                                                        {% endif %}
                                                {% endfor %}
                                                <div id='add_remove_skills'>    
                                                        <div>   
                                                                <button type='button' class='link-btn' id='btnAddSkill' onclick='addAnotherSkill()'>Add Another Skill</button>
                                                                <button type='button' class='link-btn' id='btnRemoveSkill' onclick='removeSkill()'>Remove Skill</button> 
                                                        </div>
                                                </div>   
                                        </div>  
                                        <div style='text-align:center;'>
                                                <button type='submit' class='link-btn' style='padding:15px;width:150px;font-size:24px;margin-right:20px;margin-left:20px;'>Submit</button>
                                                <button type='button' class='link-btn' id='cancelbtn' style='padding:15px;width:150px;font-size:24px;margin-right:20px;margin-left:20px;' onclick='cancelListing()'>Cancel</button>
                                        </div> 
                                </div>                    
                        </div>    
                </form>
        </div>
        <div class='overlay-form'>
        </div>
        {% comment %} <div style='width:100%;position:fixed;top:100;right:0;'>
                <input style='text-align:center;color:rgba(240,240,240,0.7);font-size:40px; width:800px;position:fixed;top:80;' placeholder='Search Applicants'>
        </div> {% endcomment %}
        <div class='container-main'>
                <div class='job-listings'>
                        <p class='title-light' style='font-size: 30px;margin-bottom:10px;'>Current job listing: </p>
                        <div style='text-align:center;'>
                                <button type='button' class='link-btn' style='margin-bottom:10px;' onclick='createListing()'>Create New Listing</button>
                        </div>
                        <div class='listing-item current_listings'>
                                {% if listings %}
                                        {% for item in listings %}
                                        <div class="item">
                                                <p>{{ item.job_title}}</p>
                                                <p>{{ item.city}}</p>
                                                {% if item.compensation %}
                                                        <p>Compensation: ${{ item.compensation}}</p>
                                                {% else %}
                                                        <p>No Compensation data available</p>
                                                {% endif %}
                                        </div>  
                                        {% endfor %}
                                {% else %}
                                        <div class=''>
                                                <p style='text-align:center;'>No listings posted yet</p>
                                        </div>
                                {% endif %}
                        </div>
                </div>
                <div class='applicant_list'>
                        {% for app in applicants %}
                                <div class='ind-app'>
                                        <a href={% url 'viewapplicant' id=app.applicant_id %} class='app-link'>{{app.first_name}} {{app.last_name}}</a>
                                        {% if app.city != 'NULL' %}
                                                <p>{{app.city}}</p>
                                        {% else %}
                                                <p>Residence unknown</p>
                                        {% endif %}
                                        <p>Email: {{app.email}}</p>
                                </div>
                        {% endfor %}
                </div>

                <div class="mentor-edits">
                        <p class="title-light" style='font-size: 30px;'>Mentors</p>
                        <div class="listing-item" style='height:auto'>
                                <p class="title" style='font-size: 30px;'>Add a Mentor</p>
                                <div>
                                        {% comment %} <a href="{% url mentoraddpageview %}" class="signup-button">create</a>
                                        {% endcomment %}
                                        <form name="mentoraddpage" method="post" action="{% url 'mentoraddpageview' %}">
                                                {% csrf_token %}
                                                {% for org in orgInfo %}
                                                <input type='hidden' value={{org.organization_id}} name='orgID'>
                                                {% endfor %}
                                                <div style='text-align:center;'>
                                                        <button type="submit" style='width:150px;' class='link-btn'>Add Mentor</button>
                                                </div>
                                        </form>
                                </div>
                                <div>
                                        <h2 class="title">View Mentors</h2>
                                        {% comment %} <a href="#" class="signup-button">sign-up</a> {% endcomment %}
                                        <form name="viewmentors" method="post" action="{% url 'viewmentors' %}">
                                                {% csrf_token %}
                                                {% for org in orgInfo %}
                                                <input type='hidden' value={{org.organization_id}} name='orgID'>
                                                {% endfor %}
                                                <div style='text-align:center;'>
                                                        <button style='width:150px;' type="submit" class='link-btn'>View</button>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>
        </div>

{% endblock content %}