{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block content %}

    {% comment %} Mostly psuedo code, will update {% endcomment %}

    <div>
        <h1>{{applicant.first_name}} {{applicant.last_name}}</h1>
    </div>


    <div>
        <h2>Top Skills in Demand</h2>
        {% for skill in top_skills %} 
            <p>{{skill|skill}}</p>
        {% endfor %}
    </div>
    <div>
        <h2>Your Skills</h2>
        {% for skill in applicant_skills %} 
            <p>{{skill|skill}}</p>
        {% endfor %}
        <button type='button' class='btn'>Add Skill</button>
    </div>

{% endblock %}