{% extends 'base.html'%}
{%load static%}
{%block content%}
        <div>
            <h1>Wecome to the Black Cyber Recruiter!</h1>
            <br><br>
            <p>Providing Black individuals with better opportunities</p>

            <div>
            <a href="{% url 'applicantlogin' %}">I am looking for a job!</a>
            </div>

            <div>
                <a href="{% url 'organizationlogin' %}">I am an organization looking to hire!</a>
            </div>

        </div>
{% endblock %}