{% extends 'base.html'%}
{%load static%}
{%block content%}

    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>
        alert("{{ message }}");
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    <style>
        .title {
        color: rgba(0, 0, 0, 0.99);
        margin: 0px;
    }

    .title-light {
        color: rgba(240,240,240,0.99)
        text-align: center;
    }

    .container-main {
        color: rgba(240, 240, 240, 0.8);
        margin-top: 140px;
    }


    .personal-details {
        position: fixed;
        right: 10%;
        top: 150;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
        padding: 20px;
        color: rgba(240,240,240,0.7);
    }
    .container-inner {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
    .listing-link {
        text-decoration: none;
        color: rgba(240,240,240,0.7);
        font-size: 35px;
}
    .ind-listing {
        margin-bottom: 30px;
        height: auto;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
        padding: 20px;
    }
    .info-container {
        display: flex;
    }
    .link-btn {
        text-decoration: none;
        border: solid 1px rgba(240, 240, 240, 0.7);
        color: white;
        font-size: 22px;
        transition: 0.3s;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 14px;
        border-radius: 0px;
    }
    .link-btn:hover {
        color: rgba(135,206,250, 0.9);
        border: solid 1px rgba(135,206,250, 0.9);
    }
    .details {
        width: 70%;
    }
    .link {
        width: 30%;
        margin-top: 50px;
    }
    .form-personal {
        margin: 20px;
    }
    .flex {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
        padding: 20px;
        background-image: linear-gradient(180deg, rgba(240, 240, 240, 1), rgba(240, 240, 240, 0.7));
        color: rgba(0, 0, 0, 0.99);
    }
    .form-container {
        display: inline-block;
    }
    .form-messages {
        vertical-align: middle;
        margin-top: 20px;
        justify-content: right;
    }
    .info, form-container {
        width: 50%;
    }
    input, textarea {
        padding: 8px;
        border: solid 1px rgba(240, 240, 240, 0.8);
        border-radius: 0px;
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.2s;
        color: rgba(240, 240, 240, 0.8);
        width: 200px;
        font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    }
    textarea {
        padding: 12px;
    }
    input:hover, textarea:hover {
        box-shadow: 0 0 10px 1px rgba(135,206,250, 0.9);
        border: solid 1px rgba(135,206,250, 0.9);
    }
    .recipient {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    label {
        display: inline-block;
        text-align: right;
        margin-right: 10px;
        width: 20px;
        color: rgba(0, 0, 0, 0.8);
        font-size: 24px;    
    }
    table {
        text-align: center;
    }
    td {
        width: 200px;
        font-size: 26px;
        color: rgba(0, 0, 0, 0.8);
    }
    th {
        width: 200px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.8);
    }
    .container-large {
        margin-bottom: 30px;
        width: 800px;
        height: auto;
        background-image: linear-gradient(180deg, rgba(240, 240, 240, 1), rgba(240, 240, 240, .7));
        padding: 20px;
        margin-left:auto;
        margin-right:auto;
    }
    </style>


<div class='container-main'>
    <div class='container-large'>
        <div class='container-inner'>
            <div class='title'>
                <h1>Write a New Message</h1>
            </div>
            <form name="createmessage" method="post" action="{% url 'createmessage' %}">
                {% csrf_token %}
                <input type='hidden' value={{appID}} name='app-id'>
                <input type='hidden' value=True name='sender'>
                <div class='recipient'>
                    <label for='recipient'>To: </label>
                    <input type='text' name='recipient' required title='Enter the name of an applicant'>
                </div>
                <div class='content'>
                    <label for='content'></label>
                    <textarea type='text' name='content' required style="width: 500px; height: 200px;" placeholder='Type your message here:'></textarea>
                </div>
                <div style='margin-left: 30px;'>
                    <button type="submit" class='link-btn'>Send Message</button>
                </div>
            </form>
        </div>
        <div class='container-inner'>
            <table>
                <tr>
                    <th>Mentor</th>
                    <th>Organization</th>
                    <th>Time Sent</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                {% for message in allMessages %}
                <tr>
                    <td>{{message.mentor.first_name}} {{message.mentor.last_name}}</td>
                    <td>{{message.mentor.organization.company_name}}</td>
                    <td>{{message.timesent}}</td>
                    {% if message.sender_applicant == True %}
                        <td>Sent</td>
                    {% else %}
                        <td>Received</td>
                    {% endif %}
                    <td>
                        <form name="singlemessageview" method="post" action="{% url 'singlemessageview' %}">
                            {% csrf_token %}
                            <input type='hidden' value={{message.message_id}} name='message-id'>

                            <button type="submit"  class='link-btn' style='width:200px;'>View Message</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <br>
                <p>We're sorry, it looks like you haven't received any messages yet.</p>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}