{% extends 'base.html'%}
{%load static%}
{%block content%}

    <table>
        <tr>
            <th></th>
            <th>Sender</th>
            <th>Organization</th>
            <th>Time Sent</th>
        </tr>
            {% for message in allMessages %}
                <tr>
                    <td>
                        <form name="updateskillsview" method="post" action="{% url 'singlemessageview' %}">
                            {% csrf_token %}
                            <input type='hidden' value={{message.message_id}} name='message-id'>

                            <button type="submit">View Message</button>
                        </form>
                    </td>
                    <td>{{message.mentor_id}}</td>
                    <td>{{offer.job_title}}</td>
                    <td>{{offer.city}}</td>
                </tr>
            {% empty %}
                <br>
                <p>We're sorry, it looks like you haven't received any messages yet.</p>
            {% endfor %}
    </table

{% endblock %}