{% extends 'base.html'%}
{%load static%}
{%block content%}
        
    <form name="updateSkills" method="post" action="{% url 'updateskills' %}">
        <label for='skillsinput'>Skills:</label>
        <input list='applicantskills' name='skillsinput' id='skillsinput'>
            <datalist id='applicantskills'>
                {% for skillitem in skills %}
                    <option value = {{ skillitem }}>
                {% endfor %}
            </datalist>
    </form>
        <br><br>
{% endblock %}